

div.input-wrapper {
  background: white;
  padding: 0 16px;
  margin-top: 16px;
}

div.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  padding: 14px;
  background: white;
}